        
<div class="card" style="width: 24%; float:left;margin-right:1%;">
  <img class="card-img-top" [src]="Botaoimage" alt="Foto">
  <div class="card-body">
    <h5 class="card-title">{{post.nome}}</h5>
    <p class="card-text">{{post.legenda}}</p>
    <a (click) = "curtir(post)"><img [src]="Botaocurtir" style="width: 40px;cursor:pointer;"></a>
    <span>{{post.qtdLikes}}</span>
    <a (click) = "apagar(post.id)"><img [src]="Botaoexcluir" style="width: 40px;float: right;cursor:pointer;"></a>
  
  </div>
</div>